.display {
    grid-column: span 4;
    background-color: rgb(101, 99, 99);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 2.1em;
    overflow: hidden;
}